on:
  issues:
    types: [opened]
jobs:
  triage:
    if: "${{ github.event.issue.body == '' }}"
    runs-on: ubuntu-latest
    steps:
      - name: add triage label
        uses: kerhub/saved-replies@v0.3.0
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          state: 'closed'
